* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Museo Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #010101; 
  background-color: #E6E6E6}

a {
  color: #010101;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }







.bar {
  margin: auto;
  width: 80%;
  background-color: #FEFEFE;}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #010101;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  a:hover {
    color: #FEFEFE;
    text-decoration: underline; }
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 18px;    
  border: none;
  outline: none;
  color: #010101;
  padding: 14px 16px;
  background-color: #FEFEFE;
  font-family: "Museo Sans", sans-serif;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #002328;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #FEFEFE;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #002328;
  color: #FEFEFE;
  text-decoration: underline;
}

.dropdown-content a:hover {
  background-color: #002328;
  text-decoration: underline; 
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 1325px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1325px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}




.page-header {
  color: #010101;
  text-align: left;
  margin: auto;
  width: 85%;
  background-color: #FEFEFE}

.project-tagline {
  font-weight: 1000;
  opacity: 0.7;
  text-align: center;
}

.intro-screen {
  color: #010101;
  text-align: left; }

.banner {
  margin: auto;
  width: 85%;
  color: #010101;
  text-align: left;
  background-color: #FEFEFE;
  position: relative;}

.between {
  margin: auto;
  width: 70%;
  background-color: #FEFEFE;
}

.content {
  margin: auto;
  width: 70%;
  color: #010101;}

.main-content :first-child {
  margin-top: 0; }
.main-content img {
  max-width: 70%; }
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #0c8066; }
.main-content p {
  margin-bottom: 1em; }
.main-content code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #FEFEFE;
  background-color: #e3dad8;
  border-radius: 0.3rem; }
.main-content pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem; }
  .main-content pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0; }
.main-content .highlight {
  margin-bottom: 1rem; }
  .main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal; }
.main-content .highlight pre, .main-content pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem; }
.main-content pre code, .main-content pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0; }
  .main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
    content: normal; }
.main-content ul, .main-content ol {
  margin-top: 0; }
.main-content blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0; }
  .main-content blockquote > :first-child {
    margin-top: 0; }
  .main-content blockquote > :last-child {
    margin-bottom: 0; }
.main-content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; }
  .main-content table th {
    font-weight: bold; }
  .main-content table th, .main-content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec; }
.main-content dl {
  padding: 0; }
  .main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold; }
  .main-content dl dd {
    padding: 0;
    margin-bottom: 1rem; }
.main-content hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0; }

@media screen and (min-width: 64em) {
  .main-content {  
    background-color: #FEFEFE;
    padding: 2rem 6rem;
    width: 85%;
    margin: 0 auto;
    font-size: 1.1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    background-color: #FEFEFE;
    width: 85%;
    margin: 0 auto;
    padding: 2rem 4rem;
    font-size: 1.1rem; } }

@media screen and (max-width: 42em) {
  .main-content {
    background-color: #FEFEFE;
    padding: 2rem 1rem;
    margin: 0 auto;
    width: 85%;
    font-size: 1rem; } }

.site-footer {
  color: #FEFEFE;
  font-size: 1rem;
  padding: 4rem 6rem;
  width: 85%;
  margin: 0 auto;}

.site-footer-owner {
  display: block;
  font-weight: bold; }

.site-footer-credits {
  color: #FEFEFE; }

.page-downer {
  color: #FEFEFE;
  text-align: left;
  width: 85%;
  margin: auto;
  background-color: #0c8066}
