<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <section class="page-header">
      <div class="header">
        <div class="column">
          <a href="https://www.eur.nl/en">
            <img width="30%" src="Ressources/EUR line_02_RGB_2400_black.png">
          </a>
          <a href="https://www.eur.nl/en">
            <img width="17%" src="Ressources/Erasmus-signature_02_RGB_0072_black.png" style="float:right">
          </a>
        </div>
      </div>
      
      <div class="bar">
        <div class="topnav" id="myTopnav">
          <a href="index">Home</a>
          <div class="dropdown">
            <button class="dropbtn">Basics 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href=Appendix_1_Getting_Started>Getting started</a>
              <a href=L7_Programming_Tips>Do's and Don'ts</a>
              <a href=Appendix_1_Loading_R_Data_files>Changing the working directory</a>
              <a href=Appendix_1_Loading_CSV_Files>Base R</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Data
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href=L2_The_Very_Basics_R>Very basics</a>
              <a href=L3_Data_Manipulation_Part_1>Data manipulation - part 1</a>
              <a href=L4_Data_Manipulation_Part_2>Data manipulation - part 2</a>
              <a href=L5_Data_Visualization>Data visualization</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Language Design
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href=L1_A_Primer_on_R>A primer on R (and Rstudio)</a>
              <a href=L7_Programming_Functions>Functions</a>
              <a href=L7_Programming_Loops>Loops</a>
            </div>
          </div>
          <a href=L6_Reporting>Reporting</a>
          <a href=L10_Web_Scraping>Web Scraping</a>
          <a href="https://github.com/kagruber2412/RIntroduction">GitHub Downloads</a>
          <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>

        <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
        </script>
      </div>
    </section>
      
    
    <section class="intro-screen">
      <div class="banner">
        <img src="Ressources/EUR_banner.png" alt="EUR" style="width: 100%;max-height: 100%" />
      </div>
    </section>

    <section class="main-content">
      <div class="between">
        
      </div>
      <div class="content">
     
        {{ content }}

      </div>
      <div class="between">
        
      </div>

    </section>
    <section class="page-downer">
      <div class="downer">
        <footer class="site-footer">
          <span class="site-footer-owner"> This is maintained by Kathrin Gruber</a>.</span>
          <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
        </footer>
        <div class="column">
          <a href="https://www.eur.nl/en">
            <img width="17%" src="Ressources/EUR-stack_03_RGB_0072_white.png">
          </a>  
          <a href="https://www.eur.nl/en">
            <img width="17%" src="Ressources/Erasmus-signature_03_RGB_0072_white.png" style="float:right">
          </a>
        </div>
      </div>

    </section>
  
  </body>
</html>
